// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.control-block {
  text-align: center;
}

.controls {
  display: inline-block;
  text-align: center;
}

.msg {
  display: inline;
  position: absolute;
  padding: 23px 0 0 10px;
  font-weight: 400;
}

#submit {
  padding: 10px 0 0 0;
}

#std-submit {
  padding-top: 10px;
}