@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200);
@import "font-awesome";

@font-face {
	font-family: Danger;
	src: font-url('GimmeDanger.ttf') format('truetype');
	font-weight: normal;
	font-style: normal
} 